footer {
    background: radial-gradient($bg-claro, $bg-medio, $bg-oscuro);
    padding: 30px;
    text-align: center;
    h4{
        line-height: 1rem;
        font-size: 1rem;
        text-align: center;
        color: $bg-letra;
        padding: 10px;
    }
    .footer-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 10px;
        a {
            color: $bg-letra2;
            font-size: 1.2rem;
            text-decoration: none;
            &:hover {
                color: $bg-letra;
            }
        }
    }
     .h4-footer{
        margin: 0px;
        color: $bg-letra2;
        font-size: 1.2rem;

    } 
}

